#login {
  background-color: #F7ECE1;
  height: 935px;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginTitle {
  color: #1F7A8C;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  margin-top: 27px;
}

.loginLogo {
  position: absolute;
  background: #1F7A8C;
  -webkit-box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.8);
  border: 2px solid #000000;
  width: 242px;
  height: 236px;
  border-radius: 250px;
  margin-top: 127px;
  margin-bottom: 50px;
}

.logoImg {
  margin-top: 53px;
  margin-left: 56px;
}

.loginBox {
  width: 540px;
  height: 625px;
  background: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 26px 23px 16px -3px #C4C4C4;
          box-shadow: 26px 23px 16px -3px #C4C4C4;
  border-radius: 77px;
  margin-top: 150px;
}

.loginEmail {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 33px;
  width: 412px;
  height: 66px;
  padding-left: 36px;
  margin-top: 204px;
  margin-left: 64px;
}

.loginEmail:hover {
  -webkit-box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
          box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
}

.loginEmail:focus {
  outline: none;
}

.loginPassword:focus {
  outline: none;
}

.loginBtn:focus {
  outline: none;
}

.loginPassword {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 33px;
  width: 412px;
  height: 66px;
  padding-left: 36px;
  margin-top: 67px;
  margin-left: 64px;
}

.loginPassword:hover {
  -webkit-box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
          box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
}

.loginBtn {
  background: #1F7A8C;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 6px 12px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 6px 12px 2px rgba(0, 0, 0, 0.8);
  border-radius: 33px;
  width: 206px;
  height: 62px;
  margin-left: 158px;
  margin-top: 67px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #C5FFFD;
}

.loginBtn:hover {
  background-color: #C5FFFD;
  color: #1F7A8C;
  -webkit-transition: 1s;
  transition: 1s;
}

#registr {
  background-color: #F7ECE1;
}

.registrContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registrLine {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registrLogo {
  border-radius: 150px;
  background: #1F7A8C;
  -webkit-box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.8);
  width: 107px;
  height: 104px;
}

.registrImg {
  width: 58.38px;
  height: 55px;
  margin-top: 22px;
  margin-left: 25px;
}

.registrTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #1F7A8C;
  margin-top: 10px;
  margin-left: 40px;
}

.registrBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.firstRegistrInput {
  margin-top: 30px;
}

.registrHeadline {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #C67E2C;
}

.registrInput {
  width: 604px;
  height: 66px;
  padding: 18px 10px 10px 41px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 33px;
  margin-bottom: 44px;
}

.registrInput:hover {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
          box-shadow: 0px 2px 22px 10px rgba(31, 122, 140, 0.71);
  border-radius: 33px;
}

.registrDate {
  padding-left: 180px;
}

.registrBtn {
  background: #1F7A8C;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 6px 12px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 5px 6px 12px 2px rgba(0, 0, 0, 0.8);
  border-radius: 33px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #C5FFFD;
  padding: 13px 40px 8px 40px;
  margin-bottom: 25px;
}

.registrBtn:hover {
  background-color: #C5FFFD;
  color: #1F7A8C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Birthday {
  margin-top: -86px;
  margin-left: -400px;
  margin-bottom: 60px;
  color: grey;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none !important;
  /*MENU */
}

#Mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 935px;
}

.menu {
  background-color: #1F7A8C;
  width: 120px;
}

.menuActive {
  width: 347px !important;
}

.menuSecond {
  background: #F7ECE1;
  width: 227px;
}

.menuSecondActive {
  width: 0px !important;
}

.menuTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #C5FFFD;
  margin-top: 28px;
  margin-left: 10px;
  display: none;
}

.menuTitleActive {
  display: block;
}

.menuLogo {
  width: 53px;
  height: 45.28px;
  margin-top: 30px;
  margin-left: 40px;
}

.menuLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menuMenu {
  outline: none !important;
  border: none;
  background: none;
  margin-left: 35px;
  margin-top: 30px;
}

.menuBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 56px;
  margin-left: -5px;
}

.menuCol {
  outline: none;
  border: none;
  background: none;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  margin-bottom: 38px;
}

.menuCol:hover {
  background: #1F7A8C;
  border: 2px solid #C5FFFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  height: 55px;
}

.menuCol:focus {
  outline: none;
}

.menuFirstCol {
  outline: none;
  border: none;
  background: none;
  width: 290px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  margin-bottom: 38px;
}

.menuFirstCol:hover {
  background: #1F7A8C;
  border: 2px solid #C5FFFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  height: 55px;
}

.menuFirstCol:focus {
  outline: none;
}

.menuIcon {
  margin-left: -10px;
  margin-right: 34px;
  width: 42px;
  height: 32px;
  padding-top: 5px;
  padding-left: 15px;
}

.menuName {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #EF8A17;
  display: none;
}

.menuNameActive {
  display: block;
}
/*# sourceMappingURL=main.css.map */